/lib/
/.shards/
*.dwarf
.DS_Store
.vscode
ameba.sh

# Build artifacts
/bin/

# Ignore for Zola
/docs/public/

# Nix
# /flake.lock

# Gradle build artifacts
.gradle/
**/build/
**/gradle-wrapper.jar
**/gradlew
**/gradlew.bat
